# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Environment variables
.env
*.env

# Uploads
uploads/

# Node (pentru frontend)
node_modules/
.DS_Store
dist/
build/

# IDE
.vscode/
.idea/